.message-wrap {
    margin-bottom: 50px;
    padding: 10px;
    border: solid 1px #CCC;
    width: 400px;
    box-sizing: border-box;
}

.message-scroll {
    width: 100%;
    height: 400px;
    overflow: scroll;
}

.message-wrap p {
    margin: 0 0 15px;
}